[HttpFoundation] Prevent default values for cache-control

### Description

Symfony class `ResponseHeaderBag` has internal logic for setting `cache-control` values, such as default initialization with `''`:
```
public function __construct(array $headers = [])
{
    parent::__construct($headers);

    if (!isset($this->headers['cache-control'])) {
        $this->set('Cache-Control', '');
    }

    /* RFC2616 - 14.18 says all Responses need to have a Date */
    if (!isset($this->headers['date'])) {
        $this->initDate();
    }
}
```

And computing values on the fly by adding `private`, `public`, `no-cache` and `must-revalidate` with `computeCacheControlValue`:
```
protected function computeCacheControlValue(): string
{
    if (!$this->cacheControl) {
        if ($this->has('Last-Modified') || $this->has('Expires')) {
            return 'private, must-revalidate'; // allows for heuristic expiration (RFC 7234 Section 4.2.2) in the case of "Last-Modified"
        }

        // conservative by default
        return 'no-cache, private';
    }

    $header = $this->getCacheControlHeader();
    if (isset($this->cacheControl['public']) || isset($this->cacheControl['private'])) {
        return $header;
    }

    // public if s-maxage is defined, private otherwise
    if (!isset($this->cacheControl['s-maxage'])) {
        return $header.', private';
    }

    return $header;
}
```
While the conservative defaults are appreciated and follow standards it does prevent customization and enforces usage of `private` or `public`. Since these two directives are strongly opinionated we would like to in some cases opt out of them.

### Problem
Opting out of these default values is currently very hard to achieve because even if we attempt to remove the directives by changing the `cache-control` header the `computeCacheControlValue` is triggered right after that and sets the values again. This means we have to do this with reflections.

Additionally setting the `cache-control` values after the response was created with a on Kernel response event subscriber (e.g. setting custom default values) is also messy. As we would have to remove the Symfony set values and then add our own.

### Proposed solution
A flag in `framework` that disables Symfonys internal `cache-control` logic for easier customization.


### Relates to
https://github.com/symfony/symfony/issues/36109 


### Example

_No response_