[BrowserKit] HttpBrowser ignores GET-request body

**Symfony version(s) affected**: >=4.3

**Description**  
When using the BrowserKit to do functional tests, I've been trying to use the [HttpBrowser](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/BrowserKit/HttpBrowser.php#L64) to perform requests. Our API uses the request body to send data as JSON. The [KernelBrowser](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php#L142) doesn't seem to mind this and passes on the request to the kernel without modification. However, the HttpBrowser 'extracts' the body and does an early-return when the method is GET. This doesn't seem to comply with [the RFC](https://tools.ietf.org/html/rfc7230#section-3.3). And makes the use for [HttpBrowser](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/BrowserKit/HttpBrowser.php#L64) not possible for us. 


**How to reproduce**  
This is where it's filtered out: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/BrowserKit/HttpBrowser.php#L64

**Possible Solution**  
Remove `GET` from the `in_array` check to allow bodies for GET-requests.

If that's agreed upon I'd gladly make a PR. 

Well, BrowserKit is meant to emulate browsers. And AFAIK, no browser is allowing to include a body in a GET request.

I guess that makes sense. Is there a standardised way to do functional tests on an API? Or could/should the `HttpClient` just be used on its own for this?

How does API Platform do? /cc @dunglas 

Hi @Jeroeny . Interesting to notice that [RFC-7231](https://tools.ietf.org/html/rfc7231) obsolets RFC-2616.
In the section [chapter 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1) of the RFC-7231, I think this is the interesting excerpt for your case:

>    A payload within a GET request message has no defined semantics;
>    sending a payload body on a GET request might cause some existing
>    implementations to reject the request.

Which for me shows that your API implementation can define it's own semantics.
But also, I think what @stof said makes sense because I would speculate that browsers that implemented RFC-2616 followed instructions below and flat-out ignore the body-message:

RFC-2616 section 4.3
> ...if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request.

RFC-2616 section 9.3
> The GET method means retrieve whatever information ([...]) is identified by the Request-URI.

After all that, I'd suggest that, instead of this being a bug, perhaps we could suggest a way to tell BrowserKit to process the message-body on a GET request

@thiagomp Thanks for the thorough feedback. Explicitly telling BrowserKit about a message payload sounds good too. In that case I'd probably go with `Content-Type`. See also [RFC7231 - 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5):  
> A sender that generates a message containing a payload body SHOULD generate a Content-Type header field in that message

@Jeroeny Do you want to take a look in the PR I've created? https://github.com/symfony/browser-kit/pull/11

@thiagomp Yes something like that would be nice 👍.