FileSystem::makePathRelative is broken when resolving less than two path elements

Running:

```php
$f = new Symfony\Component\Filesystem\Filesystem();
echo $f->makePathRelative('/home/user', '/var'), "\n";
```

gives:

```
home/user
```

Expected is: `../home/user`.

However,
```php
$f = new Symfony\Component\Filesystem\Filesystem();
echo $f->makePathRelative('/home/user/drm', '/usr/local'), "\n";
```

gives the expected `../../home/user/drm/`



`home/user` is correct. Why do you expect something else?

I expect the behaviour to describe as "when I am in `/var`, how would I cd to `/home/user`". 

You probably misinterpret `/var/` and `/var`. The above output is correct.

You are "probably" misinterpreting the issue here.

First, the slash makes no difference. Please investigate your assumptive claims before you make them
Second, if you feel this is good and consistent behavior, please explain it to me so we can at least improve the documentation. 

```php
function f($a, $b) {
    printf("%-15s -> %-15s: %s\n", $b, $a, (new Filesystem())->makePathRelative($a, $b));
    printf("%-15s -> %-15s: %s\n", "$b/", "$a/", (new Filesystem())->makePathRelative("$a/", "$b/"));
}

f('/home/user/me', '/home/user/you'); 
f('/user/me', '/user/you');
f('/usr/me', '/user/you');
f('/usr/me', '/user');
```

output:
```
/home/user/you  -> /home/user/me  : ../me/
/home/user/you/ -> /home/user/me/ : ../me/
/user/you       -> /user/me       : ../me/
/user/you/      -> /user/me/      : ../me/
/user/you       -> /usr/me        : ../../usr/me/
/user/you/      -> /usr/me/       : ../../usr/me/
/user           -> /usr/me        : usr/me/
/user/          -> /usr/me/       : usr/me/
```

All I can say is that

> /home/user/you/ -> /home/user/me/ : ../me/

is correct according to RFC 3986 (I assume the same is also true for filesystems).

> /home/user/you  -> /home/user/me  : ../me/

This looks wrong as it then should be `../me`




Per RFC 3986:
> The syntax is designed to meet the recommendations laid out in "Functional Recommendations for Internet Resource Locators" [RFC1736] and "Functional Requirements for Uniform Resource Names" [RFC1737]
This RFC has no applicability to local file systems; in fact it doesn't mention them in any complicity. The behavior described by @drm is indeed not what *anyone* would expect for a file system utility.

If the path is not ending with a slash the last segment is the file and nor a directory. That is convention in every file system. Closing because the given result is correct and changing it would be a BC break anyway.

> This RFC has no applicability to local file systems; in fact it doesn't mention them in any compacity. 

URIs have a "file` scheme to reference files. And every web server uses URIs to reference and resolve relative paths to static files. Guess how you reference assets like images. I don't see how one can say RFC 3986 has no applicability.

Also the discussion here is not constructive but passive aggressive with comments like 

> Please investigate your assumptive claims before you make them
Second

> In what world does that make sense?

So there is no point in discussing this further.

> In information technology, a Uniform Resource Identifier (URI) is a string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.

Hence an RFC specifically about URIs is not applicable to file systems.

> And every web server uses URIs to reference and resolve relative paths to static files. Guess how you reference assets like images.

Again, URIs !== file systems. Also, I know what a web server is, irrespective of your tone.

> If the path is not ending with a slash the last segment is the file and nor a directory. That is convention in every file system.

Let the authors of NTFS, BtrFS, XFS, ext[2,34], etc know, as this is not how any file system behaves.

@Tobion I think I understand the disconnect after reviewing this. To @drm and myself, a method named "make**Path**Relative" should operate on paths. You assert it should strip what **could** be a file, without any way to reason whether this is true or not. Perhaps this method should be renamed to `makeFilePathRelative` and a new method named `makeDirPathRelative` should be created, with `makePathRelative` issuing a deprecation notice and continuing current behavior until removal.

Only too often do discussions like these end up in semantics :)

Whether or not you want to follow the RFC, doesn't really matter much. The point is that currently the component behaves inconsistently and whatever the chosen solution is, I don't really care too much, even though I have a slight preference for only supporting directories for the second argument (simply naming the second argument to `$startDirectory` would resolve that, imho). The "makeFilePathRelative" @robfrawley suggests is something that could simply be documented as suggesting to wrap the second argument in a `dirname()` call:

```
$fs->makePathRelative("/some/target", dirname("/some/file")); //should given "target"
```

Whether the first argument is a file or directory shouldn't make a difference for the outcome (I think we do agree on that).


@Tobion this really is not solved yet.