[HttpFoundation] ETag for If-None-Match comparison

**Symfony version(s) affected**: all

**Description**  
Symfony uses the strong comparison function when comparing **entity-tags (ETags)** for **If-None-Match** header, however according to [RFC 7232 ietf.org](https://tools.ietf.org/html/rfc7232#section-3.2) and [mozilla.org](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match), it **must** use the weak comparison function. 

[Code where it happens github.com](https://github.com/symfony/http-foundation/blob/5.1/Response.php#L1094)
[Comparison table (Symfony uses Strong comparison) ietf.org](https://tools.ietf.org/html/rfc7232#section-2.3.2)
[RFC 7232 ietf.org](https://tools.ietf.org/html/rfc7232#section-3.2)
[mozilla.org](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match)

**How to reproduce**  
In the response set strong etag, like $response->setEtag('testEtag', false);
It will add header to the response **ETag: "testEtag"**

Make a request, sending the header: **If-None-Match: W/"testEtag"**
(by the way, FF sends weak etags even if strong etag was received)

The server will reply with body and 200, however it must return 304 Not Modified response without body.

**Possible Solution**  
Replace `'\W'` with `''`  [here](https://github.com/symfony/http-foundation/blob/5.1/Response.php#L1094) and compare without it.

**Additional context**  

**Request:**
GET /cached HTTP/1.1
Host: localhost:8082
User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate
Connection: keep-alive
Cache-Control: public
If-None-Match: W/"testEtag"

**Response:**
HTTP/1.1 200 OK
Server: nginx
Content-Type: text/html; charset=UTF-8
Transfer-Encoding: chunked
Connection: keep-alive
Cache-Control: public
ETag: "testEtag"
Content-Encoding: gzip


Would be happy to make a fix if needed.

Also there's [RFC 7234 4.3.2](https://tools.ietf.org/html/rfc7234#section-4.3.2) written:
**If an If-None-Match header field is not present**, a request containing an If-Modified-Since header field (Section 3.3 of [RFC7232]) indicates that the client wants to validate one or more of its own stored responses by modification date.

Does not it mean, that if If-None-Match header is present, then we shouldn't verify If-Modified-Since header?
At the moment, it just overwrites the value. 
[Response.php L1097](https://github.com/symfony/http-foundation/blob/5.1/Response.php#L1097)
```php
        if ($etags = $request->getETags()) {
            $notModified = \in_array($this->getEtag(), $etags) || \in_array('*', $etags);
        }

        if ($modifiedSince && $lastModified) {
            $notModified = strtotime($modifiedSince) >= strtotime($lastModified) && (!$etags || $notModified);
        }
```


> Does not it mean, that if If-None-Match header is present, then we shouldn't verify If-Modified-Since header?

we should keep headers independent, unless specified otherwise

> [Comparison table (Symfony uses Strong comparison) ietf.org](https://tools.ietf.org/html/rfc7232#section-2.3.2)

this one is interesting

>  Replace '\W' with '' here and compare without it.

looks like this is the only sensible option, trimming the `W/` when comparing etags

Up for a PR (with tests) against branch 3.4?

> we should keep headers independent, unless specified otherwise

Ok. The question is - if $notModified is already true, because etags from request and response are the same, should $notModified be overwrited if expiration headers are present?

> Up for a PR (with tests) against branch 3.4?
Yeah


> What if $notModified is already true, because etags from request and response are the same, should $notModified be overwritten if expiration headers are present?

Not sure what you mean here. Do you have a doubt about the current logic? Which case precisely?
when both if-none-match and not-modified are found, both conditions should be true to return a 304.
That's what the current code does, isn't it?

> Not sure what you mean here. Do you have a doubt about the current logic? Which case precisely?
when both if-none-match and not-modified are found, both conditions should be true to return a 304.
That's what the current code does, isn't it?

Ah, ok. I thought that at least one conditions should be true to return 304 :)

Friendly ping @blry 

I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

Hi guys, sorry for the delay, have too much work at the moment(

I think there are two issues to address here:

The RFC 7232 states in Section 3.2 that

> A recipient MUST use the weak comparison function when comparing entity-tags for If-None-Match (Section 2.3.2), since weak entity-tags can be used for cache validation even if there have been changes to the representation data.


and in Section 3.3

> A recipient MUST ignore If-Modified-Since if the request contains an If-None-Match header field; the condition in If-None-Match is considered to be a more accurate replacement for the condition in If-Modified-Since, and the two are only combined for the sake of interoperating with older intermediaries that might not implement If-None-Match.

Could you please re-open this issue I would like to provide a PR against Symfony 4.4