[WebProfiler] Opening profiler shows; Unable to find template "WebProfilerBundle:Profiler:layout.html.twig"

**Symfony version(s) affected**: 5.2.1 (latest)

**Description**  
When opening the profile (on any of the profiler panes), the following error comes up;

Twig\Error\LoaderError:
Unable to find template "WebProfilerBundle:Profiler:layout.html.twig" (looked into: /Users/my-username/Documents/dev/www/my-project/templates, /Users/my-username/Documents/dev/www/my-project/vendor/symfony/twig-bridge/Resources/views/Form).

I've tried clearing cache, re-installing vendor dir, debug container/twig/etc and nothing hints at any problems or makes a difference. I noticed I do have the opcache extension, but not sure if any data is also cached there or not from Symfony profiler.

**How to reproduce**  
I'm not too sure on what's needed here - I'm using the latest version of Symfony 5.2.1 - the profiler bar (at the bottom of the pages) shows normally when i'm in dev-mode, but when I click on any of the buttons (eg. timing / db queries / etc), it shows the above error.

**Possible Solution**  
I've tried looking into the code -- it seems to resolve the correct directory when in the context of the WebProfilerBundle, but the error shows otherwise. It's very similar to this error; https://github.com/symfony/symfony/issues/35211
I've tried clearing / deleting the var/cache dir entirely, as well as deleting the entire vendor dir and re-installing via composer, but none of those options work.

This occurred after an upgrade from Symfony 4.4 (latest version). I've got other projects on Symfony 5.2.1 with no problems.

**Additional context**  
Twig\Error\LoaderError:
Unable to find template "WebProfilerBundle:Profiler:layout.html.twig" (looked into: /Users/my-username/Documents/dev/www/my-project/templates, /Users/my-username/Documents/dev/www/my-project/vendor/symfony/twig-bridge/Resources/views/Form).

  at vendor/symfony/web-profiler-bundle/Resources/views/Collector/time.html.twig:1
  at Twig\Loader\FilesystemLoader->findTemplate('WebProfilerBundle:Profiler:layout.html.twig')
     (vendor/twig/twig/src/Loader/FilesystemLoader.php:131)
  at Twig\Loader\FilesystemLoader->getCacheKey('WebProfilerBundle:Profiler:layout.html.twig')
     (vendor/twig/twig/src/Environment.php:261)
  at Twig\Environment->getTemplateClass('WebProfilerBundle:Profiler:layout.html.twig')
     (vendor/twig/twig/src/Template.php:319)
  at Twig\Template->loadTemplate('WebProfilerBundle:Profiler:layout.html.twig')
     (vendor/twig/twig/src/Template.php:97)

Not sure what other info I can provide - let me know if there's anything I can try or can provide to assist ... hopefully there's something easy I can try to fix it here! :/

Can you please show the output of `composer show`?

Sure thing -- thanks for your help in advance

antishov/doctrine-extensions-bundle     v1.4.3             Forked from stof/doctrine-extensions-bundle integration of the gedmo/doctrine-extensions with Symfony 4
anyx/login-gate-bundle                  2.0.3              Checking brute force attacks on site
async-aws/core                          1.7.2              Core package to integrate with AWS. This is a lightweight AWS SDK provider by AsyncAws.
async-aws/lambda                        1.1.1              Lambda client, part of the AWS SDK provided by AsyncAws.
aws/aws-sdk-php                         3.171.10           AWS SDK for PHP - Use Amazon Web Services in your PHP project
aws/aws-sdk-php-symfony                 2.2.2              A Symfony bundle for v3 of the AWS SDK for PHP
beberlei/assert                         v3.3.0             Thin assertion library for input validation in business models.
beberlei/doctrineextensions             v1.3.0             A set of extensions to Doctrine 2 that add support for additional query functions available in MySQL, Oracle, PostgreSQL and SQLite.
behat/transliterator                    v1.3.0             String transliterator
bref/bref                               1.0.2              Bref is a framework to write and deploy serverless PHP applications on AWS Lambda.
bref/extra-php-extensions               0.7.3              Extra PHP extensions for your lambda application.
brick/math                              0.9.1              Arbitrary-precision arithmetic library
calcinai/oauth2-xero                    v1.0.4             Xero OAuth 2.0 Client Provider for The PHP League OAuth2-Client
clue/stream-filter                      v1.5.0             A simple and modern approach to stream filtering in PHP
composer/ca-bundle                      1.2.8              Lets you find a path to the system CA bundle, and includes a fallback to the Mozilla CA bundle.
composer/package-versions-deprecated    1.11.99.1          Composer plugin that provides efficient querying for installed package versions (no runtime IO)
defuse/php-encryption                   v2.2.1             Secure PHP Encryption Library
doctrine/annotations                    1.11.1             Docblock Annotations Parser
doctrine/cache                          1.10.2             PHP Doctrine Cache library is a popular cache implementation that supports many different drivers such as redis, memcache, apc, mongodb and others.
doctrine/collections                    1.6.7              PHP Doctrine Collections library that adds additional functionality on top of PHP arrays.
doctrine/common                         3.1.0              PHP Doctrine Common project is a library that provides additional functionality that other Doctrine projects depend on such as better reflection ...
doctrine/data-fixtures                  1.4.4              Data Fixtures for all Doctrine Object Managers
doctrine/dbal                           2.12.1             Powerful PHP database abstraction layer (DBAL) with many features for database schema introspection and management.
doctrine/doctrine-bundle                2.2.2              Symfony DoctrineBundle
doctrine/doctrine-fixtures-bundle       3.4.0              Symfony DoctrineFixturesBundle
doctrine/event-manager                  1.1.1              The Doctrine Event Manager is a simple PHP event system that was built to be used with the various Doctrine projects.
doctrine/inflector                      2.0.3              PHP Doctrine Inflector is a small library that can perform string manipulations with regard to upper/lowercase and singular/plural forms of words.
doctrine/instantiator                   1.4.0              A small, lightweight utility to instantiate objects in PHP without invoking their constructors
doctrine/lexer                          1.2.1              PHP Doctrine Lexer parser library that can be used in Top-Down, Recursive Descent Parsers.
doctrine/orm                            2.8.1              Object-Relational-Mapper for PHP
doctrine/persistence                    2.1.0              The Doctrine Persistence project is a set of shared interfaces and functionality that the different Doctrine object mappers share.
doctrine/sql-formatter                  1.1.1              a PHP SQL highlighting library
dompdf/dompdf                           v0.8.6             DOMPDF is a CSS 2.1 compliant HTML to PDF converter
enqueue/amqp-tools                      0.10.0             Message Queue Amqp Tools
enqueue/dsn                             0.10.4             Parse DSN
enqueue/enqueue                         0.10.6             Message Queue Library
enqueue/enqueue-bundle                  0.10.6             Message Queue Bundle
enqueue/null                            0.10.4             Enqueue Null transport
enqueue/sns                             0.10.4             Message Queue Amazon SNS Transport
ezyang/htmlpurifier                     v4.13.0            Standards compliant HTML filter written in PHP
firebase/php-jwt                        v5.2.0             A simple library to encode and decode JSON Web Tokens (JWT) in PHP. Should conform to the current spec.
friendsofsymfony/jsrouting-bundle       2.7.0              A pretty nice way to expose your Symfony2 routing to client applications.
friendsofsymfony/oauth-server-bundle    dev-master 1e6afb6 Symfony2 OAuth Server Bundle
friendsofsymfony/oauth2-php             1.3.0              OAuth2 library
gargron/fileupload                      dev-master 18c992b File uploading library capable of handling large/chunked/multiple file uploads
gedmo/doctrine-extensions               v3.0.0             Doctrine2 behavioral extensions
gmostafa/php-graphql-client             v1.8               GraphQL client and query builder.
guzzlehttp/guzzle                       6.5.5              Guzzle is a PHP HTTP client library
guzzlehttp/promises                     1.4.0              Guzzle promises library
guzzlehttp/psr7                         1.7.0              PSR-7 message implementation that also provides common utility methods
hollodotme/fast-cgi-client              v3.1.5             A PHP fast CGI client to send requests (a)synchronously to PHP-FPM.
hwi/oauth-bundle                        1.2.0              Support for authenticating users using both OAuth1.0a and OAuth2 in Symfony2.
lcobucci/jwt                            3.4.2              A simple library to work with JSON Web Token and JSON Web Signature
league/oauth2-client                    2.6.0              OAuth 2.0 Client Library
maennchen/zipstream-php                 2.1.0              ZipStream is a library for dynamically streaming dynamic zip files from PHP without writing to the disk at all on the server.
markbaker/complex                       2.0.0              PHP Class for working with complex numbers
markbaker/matrix                        2.0.0              PHP Class for working with matrices
mnapoli/silly                           1.7.2              Silly CLI micro-framework based on Symfony Console
monolog/monolog                         1.26.0             Sends your logs to files, sockets, inboxes, databases and various web services
mpdf/mpdf                               v8.0.8             PHP library generating PDF files from UTF-8 encoded HTML
mtdowling/jmespath.php                  2.6.0              Declaratively specify how to extract elements from a JSON document
myclabs/deep-copy                       1.10.2             Create deep copies (clones) of your objects
myclabs/php-enum                        1.7.7              PHP Enum implementation
nelmio/cors-bundle                      2.1.0              Adds CORS (Cross-Origin Resource Sharing) headers support in your Symfony application
nelmio/js-logger-bundle                 1.6.1              Adds logging of JS errors in your Symfony application
nelmio/security-bundle                  v2.10.1            Extra security-related features for Symfony: signed/encrypted cookies, HTTPS/SSL/HSTS handling, cookie session storage, ...
nikic/php-parser                        v4.10.4            A PHP parser written in PHP
nyholm/psr7                             1.3.2              A fast PHP7 implementation of PSR-7
overblog/graphiql-bundle                v0.2.1             Symfony GraphiQLBundle makes possible to render the UI into your symfony project
overblog/graphql-bundle                 v0.13.5            This bundle provides tools to build a GraphQL server in your Symfony App.
paragonie/constant_time_encoding        v2.4.0             Constant-time Implementations of RFC 4648 Encoding (Base-64, Base-32, Base-16)
paragonie/random_compat                 v2.0.19            PHP 5.x polyfill for random_bytes() and random_int() from PHP 7
pda/pheanstalk                          v4.0.3             PHP client for beanstalkd queue
pear/console_getopt                     v1.4.3             More info available on: http://pear.php.net/package/Console_Getopt
pear/mail                               v1.4.1             Class that provides multiple interfaces for sending emails.
pear/mail_mime                          1.10.9             Mail_Mime provides classes to create MIME messages
pear/pear-core-minimal                  v1.10.10           Minimal set of PEAR core files to be used as composer dependency
pear/pear_exception                     v1.0.1             The PEAR Exception base class.
pear/validate                           v0.8.5             Validate numbers, email, strings, dates, URIs and more
phar-io/manifest                        1.0.3              Component for reading phar.io manifest information from a PHP Archive (PHAR)
phar-io/version                         2.0.1              Library for handling version information and constraints
phenx/php-font-lib                      0.5.2              A library to read, parse, export and make subsets of different types of font files.
phenx/php-svg-lib                       v0.3.3             A library to read, parse and export to PDF SVG files.
php-di/invoker                          2.2.0              Generic and extensible callable invoker
php-http/client-common                  2.3.0              Common HTTP Client implementations and tools for HTTPlug
php-http/curl-client                    2.2.0              PSR-18 and HTTPlug Async client with cURL
php-http/discovery                      1.13.0             Finds installed HTTPlug implementations and PSR-7 message factories
php-http/guzzle6-adapter                v2.0.1             Guzzle 6 HTTP Adapter
php-http/httplug                        2.2.0              HTTPlug, the HTTP client abstraction for PHP
php-http/httplug-bundle                 1.20.0             Symfony integration for HTTPlug
php-http/logger-plugin                  1.2.1              PSR-3 Logger plugin for HTTPlug
php-http/message                        1.10.0             HTTP Message related tools
php-http/message-factory                v1.0.2             Factory interfaces for PSR-7 HTTP Message
php-http/promise                        1.1.0              Promise used for asynchronous HTTP requests
php-http/stopwatch-plugin               1.4.0              Symfony Stopwatch plugin for HTTPlug
phpdocumentor/reflection-common         2.2.0              Common reflection classes used by phpdocumentor to reflect the code structure
phpdocumentor/reflection-docblock       5.2.2              With this component, a library can provide support for annotations via DocBlocks or otherwise retrieve information that is embedded in a DocBlock.
phpdocumentor/type-resolver             1.4.0              A PSR-5 based resolver of Class names, Types and Structural Element Names
phpoffice/phpspreadsheet                1.16.1             PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine
phpspec/prophecy                        1.12.2             Highly opinionated mocking framework for PHP 5.3+
phpunit/php-code-coverage               6.1.4              Library that provides collection, processing, and rendering functionality for PHP code coverage information.
phpunit/php-file-iterator               2.0.3              FilterIterator implementation that filters files based on a list of suffixes.
phpunit/php-text-template               1.2.1              Simple template engine.
phpunit/php-timer                       2.1.3              Utility class for timing
phpunit/php-token-stream                3.1.2              Wrapper around PHP's tokenizer extension.
phpunit/phpunit                         7.5.20             The PHP Unit Testing framework.
phpunit/phpunit-selenium                7.0.0              Selenium Server integration for PHPUnit
psr/cache                               1.0.1              Common interface for caching libraries
psr/container                           1.0.0              Common Container Interface (PHP FIG PSR-11)
psr/event-dispatcher                    1.0.0              Standard interfaces for event handling.
psr/http-client                         1.0.1              Common interface for HTTP clients
psr/http-factory                        1.0.1              Common interfaces for PSR-7 HTTP message factories
psr/http-message                        1.0.1              Common interface for HTTP messages
psr/http-server-handler                 1.0.1              Common interface for HTTP server-side request handler
psr/log                                 1.1.3              Common interface for logging libraries
psr/simple-cache                        1.0.1              Common interfaces for simple caching
queue-interop/amqp-interop              0.8.1             
queue-interop/queue-interop             0.8.1              Promoting the interoperability of MQs objects. Based on Java JMS
ralouphie/getallheaders                 3.0.3              A polyfill for getallheaders.
ramsey/collection                       1.1.1              A PHP 7.2+ library for representing and manipulating collections.
ramsey/uuid                             4.1.1              A PHP library for generating and working with universally unique identifiers (UUIDs).
riverline/multipart-parser              2.0.8              One class library to parse multipart content with encoding and charset support.
roave/security-advisories               dev-master a2c04f8 Prevents installation of composer packages with known security vulnerabilities: no API, simply require it
rollerworks/password-strength-bundle    v2.2.0             Password-strength validator bundle for Symfony
rollerworks/password-strength-validator v1.3.1             Password-strength validator for Symfony
sabberworm/php-css-parser               8.3.1              Parser for CSS Files written in PHP
scheb/two-factor-bundle                 v4.18.4            Provides two-factor authentication for Symfony applications
sebastian/code-unit-reverse-lookup      1.0.2              Looks up which function or method a line of code belongs to
sebastian/comparator                    3.0.3              Provides the functionality to compare PHP values for equality
sebastian/diff                          3.0.3              Diff implementation
sebastian/environment                   4.2.4              Provides functionality to handle HHVM/PHP environments
sebastian/exporter                      3.1.3              Provides the functionality to export PHP variables for visualization
sebastian/global-state                  2.0.0              Snapshotting of global state
sebastian/object-enumerator             3.0.4              Traverses array structures and object graphs to enumerate all referenced objects
sebastian/object-reflector              1.1.2              Allows reflection of object attributes, including inherited and non-public ones
sebastian/recursion-context             3.0.1              Provides functionality to recursively process PHP variables
sebastian/resource-operations           2.0.2              Provides a list of PHP built-in functions that operate on resources
sebastian/version                       2.0.1              Library that helps with managing the version number of Git-hosted PHP projects
sensio/framework-extra-bundle           v5.6.1             This bundle provides a way to configure your controllers with annotations
sensiolabs/security-checker             v6.0.3             A security checker for your composer.lock
setasign/fpdi                           v2.3.5             FPDI is a collection of PHP classes facilitating developers to read pages from existing PDF documents and use them as templates in FPDF. Because ...
smarty/smarty                           v3.1.36            Smarty - the compiling PHP template engine
spomky-labs/otphp                       v10.0.1            A PHP library for generating one time passwords according to RFC 4226 (HOTP Algorithm) and the RFC 6238 (TOTP Algorithm) and compatible with Goog...
sroze/messenger-enqueue-transport       0.5.0              Enqueue adapter for Symfony Messenger component
staffim/rest-client                     2.0.4             
symfony/amqp-messenger                  v5.2.1             Symfony AMQP extension Messenger Bridge
symfony/asset                           v5.2.1             Symfony Asset Component
symfony/browser-kit                     v5.2.1             Symfony BrowserKit Component
symfony/cache                           v5.2.1             Symfony Cache component with PSR-6, PSR-16, and tags
symfony/cache-contracts                 v2.2.0             Generic abstractions related to caching
symfony/config                          v5.2.1             Symfony Config Component
symfony/console                         v5.2.1             Symfony Console Component
symfony/css-selector                    v5.2.1             Symfony CssSelector Component
symfony/dependency-injection            v5.2.1             Symfony DependencyInjection Component
symfony/deprecation-contracts           v2.2.0             A generic function and convention to trigger deprecation notices
symfony/doctrine-bridge                 v5.2.1             Symfony Doctrine Bridge
symfony/doctrine-messenger              v5.2.1             Symfony Doctrine Messenger Bridge
symfony/dom-crawler                     v5.2.1             Symfony DomCrawler Component
symfony/dotenv                          v5.2.1             Registers environment variables from a .env file
symfony/error-handler                   v5.2.1             Symfony ErrorHandler Component
symfony/event-dispatcher                v5.2.1             Symfony EventDispatcher Component
symfony/event-dispatcher-contracts      v2.2.0             Generic abstractions related to dispatching event
symfony/expression-language             v5.2.1             Symfony ExpressionLanguage Component
symfony/filesystem                      v5.2.1             Symfony Filesystem Component
symfony/finder                          v5.2.1             Symfony Finder Component
symfony/flex                            v1.11.0            Composer plugin for Symfony
symfony/form                            v5.2.1             Symfony Form Component
symfony/framework-bundle                v5.2.1             Symfony FrameworkBundle
symfony/http-client                     v5.2.1             Symfony HttpClient component
symfony/http-client-contracts           v2.3.1             Generic abstractions related to HTTP clients
symfony/http-foundation                 v5.2.1             Symfony HttpFoundation Component
symfony/http-kernel                     v5.2.1             Symfony HttpKernel Component
symfony/intl                            v5.2.1             A PHP replacement layer for the C intl extension that includes additional data from the ICU library.
symfony/maker-bundle                    v1.26.1            Symfony Maker helps you create empty commands, controllers, form classes, tests and more so you can forget about writing boilerplate code.
symfony/messenger                       v5.2.1             Symfony Messenger Component
symfony/mime                            v5.2.1             A library to manipulate MIME messages
symfony/monolog-bridge                  v5.2.1             Symfony Monolog Bridge
symfony/monolog-bundle                  v3.6.0             Symfony MonologBundle
symfony/options-resolver                v5.2.1             Symfony OptionsResolver Component
symfony/phpunit-bridge                  v5.2.1             Symfony PHPUnit Bridge
symfony/polyfill-apcu                   v1.20.0            Symfony polyfill backporting apcu_* functions to lower PHP versions
symfony/polyfill-ctype                  v1.20.0            Symfony polyfill for ctype functions
symfony/polyfill-intl-grapheme          v1.20.0            Symfony polyfill for intl's grapheme_* functions
symfony/polyfill-intl-icu               v1.20.0            Symfony polyfill for intl's ICU-related data and classes
symfony/polyfill-intl-idn               v1.20.0            Symfony polyfill for intl's idn_to_ascii and idn_to_utf8 functions
symfony/polyfill-intl-normalizer        v1.20.0            Symfony polyfill for intl's Normalizer class and related functions
symfony/polyfill-mbstring               v1.20.0            Symfony polyfill for the Mbstring extension
symfony/polyfill-php72                  v1.20.0            Symfony polyfill backporting some PHP 7.2+ features to lower PHP versions
symfony/polyfill-php73                  v1.20.0            Symfony polyfill backporting some PHP 7.3+ features to lower PHP versions
symfony/polyfill-php80                  v1.20.0            Symfony polyfill backporting some PHP 8.0+ features to lower PHP versions
symfony/process                         v5.2.1             Symfony Process Component
symfony/property-access                 v5.2.1             Symfony PropertyAccess Component
symfony/property-info                   v5.2.1             Symfony Property Info Component
symfony/redis-messenger                 v5.2.1             Symfony Redis extension Messenger Bridge
symfony/requirements-checker            v1.1.8             Check Symfony requirements and give recommendations
symfony/routing                         v5.2.1             Symfony Routing Component
symfony/security-bundle                 v5.2.1             Symfony SecurityBundle
symfony/security-core                   v5.2.1             Symfony Security Component - Core Library
symfony/security-csrf                   v5.2.1             Symfony Security Component - CSRF Library
symfony/security-guard                  v5.2.1             Symfony Security Component - Guard
symfony/security-http                   v5.2.1             Symfony Security Component - HTTP Integration
symfony/serializer                      v5.2.1             Symfony Serializer Component
symfony/service-contracts               v2.2.0             Generic abstractions related to writing services
symfony/stopwatch                       v5.2.1             Symfony Stopwatch Component
symfony/string                          v5.2.1             Symfony String component
symfony/templating                      v5.2.1             Symfony Templating Component
symfony/translation                     v5.2.1             Symfony Translation Component
symfony/translation-contracts           v2.3.0             Generic abstractions related to translation
symfony/twig-bridge                     v5.2.1             Symfony Twig Bridge
symfony/twig-bundle                     v5.2.1             Symfony TwigBundle
symfony/twig-pack                       v1.0.1             A Twig pack for Symfony projects
symfony/validator                       v5.2.1             Symfony Validator Component
symfony/var-dumper                      v5.2.1             Symfony mechanism for exploring and dumping PHP variables
symfony/var-exporter                    v5.2.1             A blend of var_export() + serialize() to turn any serializable data structure to plain PHP code
symfony/web-profiler-bundle             v5.2.1             Symfony WebProfilerBundle
symfony/webpack-encore-bundle           v1.8.0             Integration with your Symfony app & Webpack Encore!
symfony/yaml                            v5.2.1             Symfony Yaml Component
tecnickcom/tcpdf                        6.3.5              TCPDF is a PHP class for generating PDF documents and barcodes.
thecodingmachine/safe                   v1.3.3             PHP core functions that throw exceptions instead of returning FALSE on error
theseer/tokenizer                       1.2.0              A small library for converting tokenized PHP source code into XML and potentially other formats
twig/extra-bundle                       v3.1.1             A Symfony bundle for extra Twig extensions
twig/intl-extra                         v3.1.1             A Twig extension for Intl
twig/string-extra                       v3.1.1             A Twig extension for Symfony String
twig/twig                               v3.1.1             Twig, the flexible, fast, and secure template language for PHP
ua-parser/uap-php                       v3.9.14            A multi-language port of Browserscope's user agent parser.
victormacko/php-migrations              dev-master bcbc4d3 DB Migrations
victormacko/symfony-standalone-forms    dev-master 2e99f2e
webmozart/assert                        1.9.1              Assertions to validate method input/output with nice error messages.
webonyx/graphql-php                     v0.13.9            A PHP port of GraphQL reference implementation
willdurand/jsonp-callback-validator     v1.1.0             JSONP callback validator.

This doesn't look obviously wrong. Can you now please search your whole project (including config files, source code and vendor code) for the string `WebProfilerBundle:Profiler:layout.html.twig`?

Also, make sure to delete the whole cache folder, in case it is just a weird caching issue happening with the upgrade (in Symfony 4.4, twig templates were actually having 2 names when the templating component was installed, so the wrong one might have been used in the cache even if the source uses the new name)

Ah @xabbuh, that was it -- I had a profiler-toolbar template which had extended that template. Super strangely, the template was rendered in the toolbar, but caused an issue when the profiler was subsequently opened.

I've deleted the whole cache folder, so it wasn't a problem.
Thank you so much for that guys, the help was super appreciated (I've been struggling with this for a few afternoons!)