BrowserKit: 301 redirect forwards POST requests

| Q                | A
| ---------------- | -----
| RFC?             | yes
| Symfony version  | master

As far as I understand, [RFC 7231 §6.4.2](https://tools.ietf.org/html/rfc7231#section-6.4.2) states that 301 HTTP Code should forward POST requests to the *Location* URI.

But, it also states that:

> For historical reasons, a user agent MAY change the request method from POST to GET for the subsequent request.

This is the behavior implemented in almost all user agents (Chrome, Firefox, IE, curl, as far as I tested).

However, the BrowserKit is not implemented this way. It forwards the request to the *Location* URI with the same method as the source one.

The source code related is here: [src/Symfony/Component/BrowserKit/Client.php#L477](https://github.com/symfony/symfony/blob/6ebd03de9c7a797289e7e52c812cf7c6092f5494/src/Symfony/Component/BrowserKit/Client.php#L477).

As it can break some websites when crawling them, do you think it has to be changed ? Is there a way to force the browser kit to not forward the POST request ?




To me this looks like it was overlooked when the behaviour for 302 and 303 status codes was implemented. On the other hand, changing this behaviour now could be seen as a BC break. Maybe it should be configurable whether or not the request method will be switched to GET (we could then also deprecate not turning that option on).

@xabbuh I never contributed to the Symfony projet, I don't know how it works. Can I submit a PR?

If yes, what behavior should be implemented? I guess the one without the BC break, so a configurable option + depreciation of not turning that option on, in one PR ?
Should it target all branches or not ?

@jlamur Sorry for not responding earlier. New features and deprecations should always target the `master` branch.

re #8895