[BrowserKit] Cookie::fromString does not allow cookie values with double quotes

**Symfony version(s) affected**: all

**Description**  
Some webservers return Set-cookie headers with  cookies values surronded by doublequotes. According to [RFC 6265 section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1), Cookie values may optionally be surrounded in Double Quotes. 

**How to reproduce**  
`$cookieString = 'COOKIENAME="Test"; Version=1; Path=/';
Cookie::fromString($cookieString )`

**Possible Solution**  
   
```
    public static function fromString(string $cookie, string $url = null)
    {
        ......................................

        $values = [
            'name' => trim($name),
            'value' => trim($value,'"'),
            ..................
        ];
```


Thanks for the report. Would you be up to work on a fix?

I worked a bit more on the project that prompted to this behavior.

I think the current version works best, since the servers that provide the value with double quotes expect the following headers with the same format. I added a test to validate this happens.