[HttpCache] Properly serving of `StreamedResponse` responses

### Symfony version(s) affected

7.*

### Description

Symfony Reverse Proxy is not able to properly handle `StreamedResponse` responses out of the box. [Store](https://github.com/symfony/symfony/blob/7.1/src/Symfony/Component/HttpKernel/HttpCache/Store.php#L205) and [HttpCache](https://github.com/symfony/symfony/blob/7.1/src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php#L646) modify Response instance by setting `Content-Length` header to `strlen($response->getContent())` when `Transfer-Encoding` header is not defined.

The point is that `StreamedResponse` always returns `false` whenever `getContent()` method is called. This leads to the situation when no bytes are sent over the wire because `Content-Length` for such responses is always 0.

`BinaryFileResponse` bypasses this issue [by explicitly setting `Content-Length` in the `prepare()`](https://github.com/symfony/symfony/blob/7.1/src/Symfony/Component/HttpFoundation/BinaryFileResponse.php#L177) method.

Not sure if this is expected behaviour, but after looking through RFC 9110 (HTTP Semantic), RFC 9111 (HTTP Caching), and RFC 9112 (HTTP/1.1) I didn't find any directives stating that `Content-Length` should be set whenever `Transfer-Encoding` header is not defined.

### How to reproduce

> ~framework.yaml

```yaml
http_cache: true
```

> An Action

```php
#[Route(
    path: '/cb,
    name: 'app_cb'
)]
public function cb(Request $request): Response
{
    $lastModified = new \DateTimeImmutable("2024-01-01 00:00:00");

    $cb = function () {
        echo "foobar";
    };

    $response = new StreamedResponse($cb);

    $response->headers->set('Content-Type', 'text/plain');

    $response->setLastModified($lastModified);
    $response->setSharedMaxAge(120);
    $response->isNotModified($request);

    return $response;
}
```

### Possible Solution

We can create an anonymous class inherited from `StreamedResponse`, override the `prepare` method, and explicitly remove the `Content-Length` header just before outputting the response. 

> An Action

```php
#[Route(
    path: '/cb',
    name: 'app_cb'
)]
public function cb(Request $request): Response
{
    $lastModified = new \DateTimeImmutable("2024-01-01 00:00:00");

    $cb = function () {
        echo "foobar";
    };

    $response = new class($cb) extends StreamedResponse {
        public function prepare(Request $request): static
        {
            $this->headers->remove('Content-Length');
            return parent::prepare($request);
        }
    };

    $response->headers->set('Content-Type', 'text/plain');

    $response->setLastModified($lastModified);
    $response->setSharedMaxAge(120);
    $response->isNotModified($request);

    return $response;
}
```

### Additional Context

The same issue arises for `StreamedJsonResponse` responses.

Hey, thanks for your report!
There has not been a lot of activity here for a while. Is this bug still relevant? Have you managed to find a workaround?

Friendly reminder that this issue exists. If I don't hear anything I'll close this.

Hey,

I didn't hear anything so I'm going to close it. Feel free to comment if this is still relevant, I can always reopen!